<!DOCTYPE html>
{%include 'testapp/base.html' %}
{%load static%}

{%block child_block%}
<link rel="stylesheet" href="{%static "css/home_c.css"%}">
<link rel="stylesheet" href="{%static "css/shome.css"%}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script type="text/javascript">

function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}

function myFunction() {
  var x = document.getElementById("mySidebar");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>


<div id="mySidebar" class="sidenav">
<div class="" align="right"><button class="btn  btn-sm" onclick="myFunction()">&#9776;Sidebar</button></div>
<a href="/addItem" > <img src="https://icons.iconarchive.com/icons/flat-icons.com/square/64/pill-icon.png" >Item Entry</a>
<a href="/pe"><img src="https://icons.iconarchive.com/icons/designcontest/ecommerce-business/64/invoice-icon.png" >Purchase Entry</a>
<a href="/salesEntry"><img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-5/64/Sales-by-payment-method-icon.png" >sales Entry</a>
<a href="/ie_list"><img src="https://icons.iconarchive.com/icons/graphicloads/medical-health/64/medicine-bowl-icon.png" >Item List</a>
<a href="/pe_list"><img src="https://icons.iconarchive.com/icons/blackvariant/shadow135-system/64/Notes-icon.png">Purchase Entry List</a>
<a href="/addSup"><img src="https://icons.iconarchive.com/icons/blackvariant/shadow135-system/64/Notes-icon.png">Add Supplier</a>
<a href="/addCus"><img src="https://icons.iconarchive.com/icons/blackvariant/shadow135-system/64/Notes-icon.png">Add Customer</a>
</div>



<div class="row" ; align="center">
  <div class="col-md-7" ></div>
  <div class="col-md-1" ><button class="btn  btn-sm" onclick="myFunction()">&#9776;Sidebar</button></div>
  <div class="col-md-2 ">{{sname}}</div>
  <div class="col-md-0.5">{{classx}}</div>
  <div class="col-md-0.5">{{section}}</div>
  <div class="col-md-1">{{role}}</div>
  <div class="col-md-1" ></div>
</div>

<!-- <div id="main"  align="center">
  <button class="btn btn-success btn-sm" onclick="myFunction()">&#9776; sidebar</button>

</div> -->

<div class="container" align="center">


</div>



{%endblock%}

{%block grand_child_block%}

{%endblock%}
