<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/dnews.css" %}">
  </head>

  <body>
    <div class="container">
    <div class="jumbotron" align="center">
      <div class="container">
      <h1>Welcome to V NEWS PORTAL </h1>
      <a class="btn btn-primary btn-lg" href="/movies" role="button">Movie News</a> &nbsp&nbsp&nbsp&nbsp
      <a class="btn btn-primary btn-lg" href="/sports" role="button">Sports news</a>&nbsp&nbsp&nbsp&nbsp
      <a class="btn btn-primary btn-lg" href="/politics" role="button">political news</a>&nbsp&nbsp&nbsp&nbsp
      </div>
    </div>
    </div>

  </body>
</html>
