<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/dnews_s.css" %}">
  </head>

  <body>
    <h1>Sports news</h1> <hr>
    <ul>
      <li>{{news1|upper}}</li>
      <li>{{news2|upper}}</li>
      <li>{{news3}}</li>
      <li>{{news4}}</li>
      <li>{{news5}}</li>
    </ul>

  </body>
</html>
