<!DOCTYPE html>
{%include 'testapp1/rhome.html' %}
{%load static%}

{%block grand_child_block%}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <div class="" align="center">
    <h1>doc_service query form</h1>
    <form  method="post">
      {%csrf_token%}
      <!-- <label for="l" >Lab</label>
      <input id="l" type="radio" name="Service" value="lab">
      <label for="d" >Doctor</label>
      <input id="d" type="radio" name="Service" value="doctor">

      <input type="text" name="search_word" value="" placeholder="Enter name or OPID or phone_no">
       -->
      {{form}}
      <input type="submit" name=""  value="Search">
    </form> <br><br>




        <a href="#";class="btn btn-primary "></a>


    {%if results%}
      <table border="1">
        <thead>
          <th>doctor_name</th>
          <th>dept</th>
          <th>fee</th>
          <th>availability</th>
          <!-- <th>Action</th> -->
          <th>Action</th>
          <th>Action</th>
          <th>Action</th>
        </thead>
        {%for result in results%}
          <tr>
            <td>{{result.doctor_name}}</td>
            <td>{{result.dept}}</td>
            <td>{{result.fee}}</td>
            <td>{{result.availability}}</td>
            <!-- <td><a href="/pay_bill/{{bill_no}}/{{result.fee}}" class="btn btn-primary "> First pay bill</a></td> -->
             <td><a href="/generate_regbill/{{result.doctor_name}}/{{id}}/{{bill_no}}" class="btn btn-success "> generate_rbill</a></td>
             <td><a href="/generate_doctemp/{{result.doctor_name}}/{{id}}/{{bill_no}}" class="btn btn-success "> generate_doctemp</a></td>
            <!-- <td><a href="/add_to_session/{{result.doctor_name}}" class="btn btn-primary "> add to session</a></td> -->

          </tr>
         {%endfor%}
      </table>
      {%else%}
      <h3 style="color: blue";>No records</h3>

    {%endif%}



    <h3>selected doctors</h3>
      {{r_id}}
      {%for r in r_doc_list%}
    <table>


    <tr>
      <td>{{r}}</td>
      <td><a href="/del_from_session/{{r}}" class="btn btn-primary "> delete from session</a></td>
    </tr>
    {%endfor%}
    </table>

    </div>
{%endblock%}
