{%extends 'testapp1/rhome.html' %}
{%load static%}
{%block grand_child_block%}
   <div align="center">
     <h1>{{title}}</h1>


    {%if form%}

    <form  method="post" enctype="multipart/form-data">
      {%csrf_token%}
      {{form.as_p}}
      <input type="submit" class="btn btn-primary" name="" value="upload">
    </form>
    {%endif%}

    {%if msg%}

    {{msg}}
    {%endif%} <br><br>
    <hr>
    <a href="/list_Fee_chart" class="btn btn-secondary ">Display Doc Fees</a>
    <a href="/list_lab_chart" class="btn btn-success ">Display Lab Fees</a>

    {%if fee_reports%}
    <h3>Doctor_Fee_chart</h3>
    {%else%}
    <h3>Lab_Fee_chart</h3>
    {%endif%}

    {%if fee_reports %}
      <table border="2">
        <thead>
          <th>doctor_name</th>
          <th>dept</th>
          <th>fee</th>
          <th>availability</th>
          <!-- <th>Action</th> -->
        </thead>

        {%for areport in fee_reports%}
        <tr>
          <td>{{areport.doctor_name}}</td>
          <td>{{areport.dept}}</td>
          <td>{{areport.fee}}</td>
          <td>{{areport.availability}}</td>


        </tr>
        {%endfor%}
      </table>
    {%endif%} <br>

    {%if lab_reports %}
      <table border="2">
        <thead>
          <th>Service_Name</th>
          <th>Service_Type</th>
          <th>charge</th>
          <th>perc15_Total</th>
          <!-- <th>Action</th> -->
        </thead>

        {%for areport in lab_reports%}
        <tr>
          <td>{{areport.Service_Name}}</td>
          <td>{{areport.Service_Type}}</td>
          <td>{{areport.charge}}</td>
          <td>{{areport.perc15_Total}}</td>


        </tr>
        {%endfor%}
      </table>
    {%endif%} <br>
  </div>
{%endblock%}
