<!DOCTYPE html>
{%extends 'testapp1/rhome.html' %}
{%load static%}

{%block grand_child_block%}


<div class="div2"; align="center">
  <h2>{{title}} </h2>
  {%if areports %}
  <h3>Billing Report</h3>
  <table border="2">
    <thead>
      <th>patient_name</th>
      <!-- <th>email</th> -->
      <th>phone</th>
      <th>bill_no</th>
      <th>bill_amount</th>
      <th>adm_type</th>
      <th>mode_of_pay</th>
      <th>paid_by_cash</th>
      <th>paid_by_card</th>
      <th>billed_datetime</th>
      <th>status</th>
      <th>Action</th>


    </thead>


    {%for areport in areports%}

    <tr>
      <td>{{areport.patient_name}}</td>
      <!-- <td>{{areport.email}}</td> -->
      <td>{{areport.phone}}</td>
      <td>{{areport.bill_no}}</td>
      <td>{{areport.billed_amount}}</td>
      <td>{{areport.admission_type}}</td>
      <td>{{areport.mode_of_payment}}</td>
      <td>{{areport.paid_by_cash}}</td>
      <td>{{areport.paid_by_card}}</td>
      <th>{{areport.billed_datetime |date:"d M"}} {{areport.billed_datetime |time:"P"}}</th>
      <td>{{areport.status}}</td>


      <td> <a class="btn btn-primary" href="/generate_doc_lab_receipt1/{{areport.bill_no}}" role="button">Print Bill</a></td>
    </tr>


    {%endfor%}
  </table>
  {%else%}
  <h1>No report records</h1>
  {%endif%}

  {%if apts %}
    <h3>Appointments Report : {{apts|length}}</h3>
    <table border="2">
      <thead>
        <th>patient_name</th>
        <th>phone</th>
        <th>OPID</th>
        <th>appt_type</th>
        <th>appt_purpose</th>
        <th>appt_date</th>
        <th>Ref_by</th>
        <th>status</th>

      </thead>


      {%for areport in apts%}

      <tr>
        <td>{{areport.patient_name}}</td>
        <td>{{areport.reg_entry_ref1.phone}}</td>
        <td>{{areport.reg_entry_ref1.OPID}}</td>
        <td>{{areport.appt_type}}</td>
        <td>{{areport.appt_purpose}}</td>
        <td>{{areport.appt_date}}</td>
        <td>{{areport.Ref_by}}</td>
        <td>{{areport.status}}</td>
      </tr>
      {%endfor%}
    </table>
    {%else%}
      <h5 style="color:blue;">No report records</h5>
    {%endif%}




</div>

{%endblock%}
