<!DOCTYPE html>
{%include 'testapp/base.html' %}
{%load static%}

{%block child_block%}
<link rel="stylesheet" href="{%static "css/home_c.css"%}">
<link rel="stylesheet" href="{%static "css/shome.css"%}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script type="text/javascript">

function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}

function myFunction() {
  var x = document.getElementById("mySidebar");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>


<div id="mySidebar" class="sidenav">
<div class="" align="right"><button class="btn  btn-sm" onclick="myFunction()">&#9776;Sidebar</button></div>

<a href="/register"><img src="https://icons.iconarchive.com/icons/youdu/mobile/48/Address-Book-icon.png" >Registration</a>
<a href="/regSearch"><img src="https://icons.iconarchive.com/icons/zerode/plump/48/Search-icon.png" > Registration Search</a>
<a href="/upload/doc_fee"><img src="https://icons.iconarchive.com/icons/icons-land/medical/48/People-Doctor-Male-icon.png"> Doc Fee Upload</a>
<a href="/upload/lab_fee"><img src="https://icons.iconarchive.com/icons/iconshock/real-vista-medical/48/microscope-icon.png" >Lab Fee Upload</a>
<a href="/receiption_bal_sheet_rep"><img src="https://icons.iconarchive.com/icons/iconleak/or/48/justice-balance-icon.png">Daily Balance sheet</a>
<a href="/be_list/"><img src="https://icons.iconarchive.com/icons/blackvariant/shadow135-system/48/Notes-icon.png">list Bills Entries</a>
<a href="/list_appt"><img src="https://icons.iconarchive.com/icons/saki/nuoveXT-2/48/Actions-appointment-new-icon.png">list Appointmnt</a>
</div>



<div class="row" ; align="center">
  <div class="col-md-6" ></div>
  <div class="col-md-1" ><button class="btn  btn-sm" onclick="myFunction()">&#9776;Sidebar</button></div>
  <div class="col-md-2">{{sname}}</div>
  <div class="col-md-1">{{role}}</div>
  <div class="col-md-1">{{phone}}</div>
  <div class="col-md-1" ></div>
</div>

<!-- <div id="main"  align="center">
  <button class="btn btn-success btn-sm" onclick="myFunction()">&#9776; sidebar</button>

</div> -->

<div class="container" align="center">


</div>



{%endblock%}

{%block grand_child_block%}

<div align="center">

  {%if alert_resp%}
  <h1>alerts</h1>
  <table border="2">
    <thead>
      <th>patient_name</th>
      <th>OPID</th>
      <th>Phone</th>
      <th>phone</th>
      <th>appt_type</th>
      <th>appt_purpose</th>
      <th>appt_date</th>
      <th>Ref_by</th>
      <th>status</th>

    </thead>
    {%for areport in alert_resp%}
    <tr>
      <td>{{areport.patient_name|upper}}</td>
      <td>{{areport.OPID}}</td>
      <td>{{areport.reg_entry_ref1}}</td>
      <td>{{areport.phone}}</td>
      <td>{{areport.appt_type|title}}</td>
      <td>{{areport.appt_purpose |title}}</td>
      <td>{{areport.appt_date}}</td>
      <td>{{areport.Ref_by}}</td>
      <td>{{areport.status}}</td>
    </tr>
    {%endfor%}
  </table>
  {%else%}
  <h1>No report records</h1>
  {%endif%}

  </div>
{%endblock%}
