<!DOCTYPE html>
{%include 'testapp/base.html' %}
{%load static%}

{%block child_block%}
<h2 align="center">Admin Page</h2>
<link rel="stylesheet" href="{%static "css/home_c.css"%}">
<link rel="stylesheet" href="{%static "css/shome.css"%}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script type="text/javascript">

function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}

function myFunction() {
  var x = document.getElementById("mySidebar");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>


<div id="mySidebar" class="sidenav">
<div class="" align="right"><button class="btn  btn-sm" onclick="myFunction()">&#9776;Sidebar</button></div>
<a href="/addSup"><img src="https://icons.iconarchive.com/icons/icons-land/vista-people/48/Office-Customer-Male-Light-icon.png">Add Supplier</a>
<a href="/addPE"><img src="https://icons.iconarchive.com/icons/google/noto-emoji-travel-places/48/42554-delivery-truck-icon.png">Add PE</a>
<a href="/addItem1" > <img src="https://icons.iconarchive.com/icons/flat-icons.com/square/48/pill-icon.png">Item Entry</a>
<a href="/ie_list"><img src="https://icons.iconarchive.com/icons/graphicloads/medical-health/48/medicine-bowl-icon.png" >Item List</a>
<a href="/pe_list"><img src="https://icons.iconarchive.com/icons/blackvariant/shadow135-system/48/Notes-icon.png">Purchase Entry List</a>
<a href="/list_IM"><img src="https://icons.iconarchive.com/icons/guillendesign/variations-1/48/Document-icon.png" >Item Master List</a>

</div>



<div class="row" ; align="center">
  <div class="col-md-6" ></div>
  <div class="col-md-1" ><button class="btn  btn-sm" onclick="myFunction()">&#9776;Sidebar</button></div>
  <div class="col-md-2">{{sname}}</div>
  <div class="col-md-1">{{role}}</div>
  <div class="col-md-1">{{phone}}</div>
  <div class="col-md-1" ></div>
</div>

<!-- <div id="main"  align="center">
  <button class="btn btn-success btn-sm" onclick="myFunction()">&#9776; sidebar</button>

</div> -->

<div class="container" align="center">


</div>



{%endblock%}

{%block grand_child_block%}

{%endblock%}
