<!DOCTYPE html>
{%extends 'testapp/shome.html' %}
{%load static%}

{%block grand_child_block%}



<div class="div2"; align="center">
  <h3>{{title}}</h3>

  {% if areports%}
  <table border="2">
    <thead>
      <th>contact_name</th>
      <th>email</th>
      <th>phone</th>
      <th>Doctor_name</th>
      <th>Hospital ID</th>
      <th>Action</th>
      <th>Action</th>


    </thead>
    {%for pe in areports%}
    <tr>
      <td>{{pe.contact_name}}</td>
      <td>{{pe.email}}</td>
      <td>{{pe.phone}}</td>
      <td>{{pe.Doctor_name}}</td>
      <td>{{pe.hospital_id}}</td>

      <td><a href="/del_cus/{{pe.id}}" class="btn btn-primary "> delete</a></td>
      <td><a href="/upd_cus/{{pe.id}}" class="btn btn-secondary "> update</a></td>

    </tr>


    {%endfor%}
  </table> <br><br>
  {%else%}
   <h1>No Purchases info</h1>
  {%endif%}
</div>










{%endblock%}
