<!DOCTYPE html>
{%extends 'testapp/ahome.html' %}
{%load static%}

{%block grand_child_block%}


<script src="{%static "testapp/js/jquery-3.5.1.min.js"%}" type="text/javascript"> </script>
<script src="{%static "testapp/js/jsuser.js"%}" type="text/javascript"> </script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
crossorigin="anonymous"></script>

<div class="class1"; align="center">
{%if ie_grandtotal %}
<p>pe grand_total= {{pe.invoice_amount}}</p>
<p>ie grand_total= {{ie_grandtotal}}</p>
<p>difference= {{diff_grandtot}}</p>
{%endif%}

<h1>{{title}}</h1>
<form  method="post">
  {%if form%}
  <table >
    <tr>
      {%for field in form%}
      <td>{{ field.label }} &nbsp;&nbsp;</td>
       <td>{{ field }}</td>
      {%if forloop.counter|divisibleby:"4" %}
          <tr>
      {%endif%}
      {%endfor%}
    </tr>


  {%endif%}
</table>
  <br>
  {%csrf_token%}
  <input type="submit" button class="btn  btn-success" value= {{title}}>
</form>
  {%if pe%}
  <a href="/addtoBill/{{pe.invoice_no}}" button class="btn btn-primary" value="">AddtoBill</a>
  {%endif%}

<!-- <input id="key1" type="text" name="" value=""> -->
<button type="button" name="button" button class="btn  btn-primary" onclick="UserAction()" value=''> Autofill consumer details</button>
  <!-- onload="mymessage()" -->

</script>
<!-- {{request.session.abc}} -->
<script>
var abc=[]
// var xyz=[]
// get specified a cookie

//
function mymessage() {
  // alert("This message was triggered from the onload event");


  // alert(abc);
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
       if (this.readyState == 4 && this.status == 200) {
           // alert(this.responseText);
           // document.getElementById("xxx").innerHTML = xhttp.responseText;
          json_data=JSON.parse(this.responseText);
          // alert(json_data);
          abc=json_data;    // assigning to global var abc, used by AutoComplete
          // alert(abc)
          // alert(txt);
          document.getElementById("yyy").innerHTML = txt;
       }
  };

  s="http://127.0.0.1:8000/im_list_japi/";

  // alert(s)
  xhttp.open("GET",s, true);
  xhttp.setRequestHeader("Content-type", "application/json");

  xhttp.send();
  // alert(xhttp.responseText);


  // xyz="{{request.session.a}}";
  // alert(xyz);
}
</script>
</head>

<body onload="mymessage()">
</body>

</div>

<script type="text/javascript">
$("#id_item_name").click(function(){

// var abc=['Acebrobid SR 200mg Tablet','Acotrust 100 mg Tablet','ACROFY Lotion',
// 'Agna 10000 Capsule DR','Agna 25000 Capsule DR','Alerflo Nasal Spray',
// 'Alfoo 10 mg Tablet PR','Antoxid -HC Capsule','ANTOXID CAPSULE',
// 'Antoxid CC Capsule','Aquaderm Face & Body Wash Liquid','Asteride 6 Tablet',
// 'Atarax 10 mg Tablet','Atarax 25 mg Injection','Atarax Drops',
// 'Atarax Syrup','Atocor 10 Tablet','Atocor 20 Tablet',
// 'Atocor 20mg Tablet','Atocor 40 Tablet','Atocor 40mg Tablet',
// 'Atocor 5 Tablet','Atocor 80 Tablet','Atocor E Tablet',
// 'Atocor-CV 10 Capsule','Atocor-CV 20 Capsule','Atocor-F Tablet',
// 'Avarta Anti-Ageing Cream','Avarta Spf Anti-Ageing Cream','AVARTA UNDER EYE CREAM',
// 'Azarbi 40 Tablet','BECELAC FORTE CAPSULE','BECELAC PB CAPSULE',
// 'BECOZINC CAPSULE','Becozinc Capsule','BECOZINC G CAPSULE',
// 'Becozinc H Syrup','Becozinc Syrup','Betaone -XL 25 Tablet',
// 'Betaone-XL 50 Tablet','Bilefix 300 Tablet','Bilefix 600 Tablet',
// 'Biochrome Capsule','Bispec 10 mg Tablet','Bispec 5 Tablet',
// 'Cardiopril 1.25mg Capsule','Cardiopril 10 Capsule','Cardiopril 2.5 Capsule',
// 'Cardiopril 5 Capsule','Cardiopril-H 2.5mg/12.5mg Tablet','Cardiopril-H5 Tablet',
// 'CARTILOX SACHET','CELADRIN CAPSULE','Cetzine Syrup',
// 'Cetzine Tablet','CHEERIO ORAL GEL','Cheerio Toothpaste',
// 'Clamp 625 Tablet','Clamp 80mg/11.4mg Drop','Clamp Kid 200mg/28.5mg Tablet',
// 'Clamp Suspension','Clamp-Kid Forte Suspension','Clamp-Kid Forte Tablet',
// 'Clearz Max Cream','Clearz Plus Cream','Clohex ADS Liquid',
// 'Combihale FB 200 Inhaler','Combihale FB 200 Redicaps','Combihale FB 400 Inhaler',
// 'Combihale FB 400 Redicaps','Combihale FF 100 Redicaps','Combihale FF 125 Inhaler',
// 'Combihale FF 250 Redicaps','Combihale FF 500 Redicaps','Combihale FF CFC Free 250 Inhaler',
// 'Cresp 25 Injection','Cresp 40 Injection','Cresp 60 mcg Injection',
// 'Cresp Onco 100 mcg Injection','Dabirex 110 mg Capsule','Dabirex 150 mg Capsule',
// 'Dabirex 75 mg Capsule','Daffy Bathing Bar','DICYNENE 250MG TABLET',
// 'Diligan CD 20mg/40mg Tablet MD','DOLOGEL CT 10GM OINT','Doxt-SL Tablet',
// 'Dutalfa Combipack','Dutas Capsule','Dutas T Plus Capsule PR',
// 'Dynapres 0.4 Capsule PR','Ebernet Cream','Ebernet Cream',
// 'Ebernet Cream','Ebernet Lot','Ebernet-M Cream',
// 'Ebiza-L Capsule','Econorm 250mg Capsule','Econorm 250mg Powder',
// 'EDETO 10 MG TABLET','Elina Tablet MR','Emlukast-FX Tablet',
// 'Enam 10 Tablet','Enam 2.5 Tablet','Enam 5 Tablet',
// 'Ennhale Nasal Spray','Entaliv 0.5 Tablet','Execare Cream',
// 'Execare-F Cream','Exena 25 mg Tablet ER','Exena 50 mg Tablet ER',
// 'Ezinapi Plus Cream','Ezinapi Plus Cream','Ezinapi Plus Cream',
// 'FINAST 5 TAB 30`S','FINAST T CAP','FINAX TABLET',
// 'Fittydent Cream','Fittydent Super Denture Adhesive Powder','FIXTRAL 100MG',
// 'Fixtral 200mg Capsule','FLURISH TABLET','FONDARED 7.5 MG 6ML INJ (',
// 'GEMVERT 20MG / 40MG TABLET','Gla 120 Capsule','Gla 120mg Soft Gelatin Capsule',
// 'GLA M Capsule','Glimy 1MG Tablet','Glimy M 0.5mg/500mg Tablet',
// 'GLIMY M FORTE TABLET','Glimy M V 1 Tablet SR','Glimy M V2 Tablet SR',
// 'GLIMY M1 TAB 15`S','GLIMY M2 15`S','GLIMY M2 FORTE',
// 'GLIMY MP 1','GLIMY MP 2','GLIMY-2MG TAB-14S',
// 'GLIMY-3','GLIMY-4*','GRAFEEL 300 MCG PFS',
// 'Gris ODT Tablet','HEPCIFIX 60MG TABLET','HILIN ACE TABLET',
// 'HILIN GM','Hydroheal AM Gel','Ketorol Injection',
// 'Ketorol Tablet','Ketorol-DT Tablet','Kinpride SR Tablet',
// 'Kinpride Tablet','Klap 200 mg/500 mg Tablet','LEON 250MG',
// 'LEON 500 MG','LEON 750MG','Lubriderm SF Cream',
// 'Lucrush Cream','Lucrush Cream','Maxithral 250 mg Tablet',
// 'Maxithral 500 mg Tablet','Maxithral Oral Suspension','Mega -3 Soft Gelatin Capsule',
// 'Mega 3 Capsule','Met Stamlo 25 Capsule','Met Stamlo Capsule ER',
// 'Metsmall 1000 Tablet SR','Metsmall 500 Tablet SR','Metsmall 500mg Tablet',
// 'Mintop Pro Lotion','MISTABRON 3ML AMP','MOREASE I',
// 'MOREASE SR CAP','MOREASE TABLET','MUCOLITE-LS SYP 60ML',
// 'NASOCOM AZ','NASOCOM NASAL SPRAY','Natoxid Capsule',
// 'NILTAN CREAM','NISE AT TABLET','NISE D SPRAY',
// 'Nise Gel Pack of 2','NISE TAB 15`S','Nootropil 1200 Tablet',
// 'NOOTROPIL 15ML INJ','Nootropil 800mg Tablet','NOOTROPIL SYP - 100ML',
// 'NOOTROPIL VYAL 60ML (','Olsertain 20 Tablet','Olsertain 40 Tablet',
// 'Olsertain Active 40 Tablet','Olsertain-AM 40 Tablet','Olsertain-AM Active Tablet',
// 'Olsertain-AM Tablet','Olsertain-CT 20 Tablet','Olsertain-CT 40 Tablet',
// 'Olsertain-H -20 Tablet','Olsertain-H 40 Tablet','Omez 10 Capsule',
// 'Omez 20mg Capsule','Omez 40 Tablet','Omez Capsule',
// 'Omez FF 20 Tablet','Omez FF 40 mg Tablet','Omez Injection',
// 'Omez Insta Sachet Mint','Omez-Dsr Capsule','Optidoz Tablet',
// 'OPTISULIN CAPSULE','Ordent Tablet','Oro-CV 625 Tablet',
// 'OXIT-OZ TAB TABLET','PAMORELIN LA 22.5 INJ','PECEF 100 ORAL SUSP 30ML',
// 'PECEF 200 TAB (','PECEF 50 ORAL SUSP 30ML (','PECEF DUO 200',
// 'PECEF DUO 50MG SUSP10G/ 30ML','PEDICLORYL SYP 30ML*','PEG-GRAFEEL PFS 6MG/0.6 ML',
// 'Pegred -C Powder','Pegred C Powder','PLAGRIL GOLD 75',
// 'PLERMIN 7.5GM GEL','PRAVY 30MG TABLET','PREGNIDOXIN NU',
// 'PUNOX TABLET','Razo 10 Tablet','Razo 20 mg IV Injection',
// 'Razo 20 Tablet','Razo D Capsule','Razo Easy Sachet',
// 'Razo-L Capsule SR','Reclide -XR 60 Tablet','Reclide -XR 60 Tablet',
// 'Reclide 40 Tablet','Reclide MR 30 Tablet','Reclide MR 60 Tablet',
// 'Reclide Tablet','Reclimet OD 30 Tablet ER','Reclimet OD 60 Tablet',
// 'Reclimet Tablet','Reclimet-XR Tablet','Redefine Tablet',
// 'Redicate 100 mg Tablet','Redicate 200 mg Tablet','Redicate 50 mg Syrup',
// 'Redotil 100 mg Capsule','Redynise Tablet','Relent Cold Syrup',
// 'Relent Plus Syrup','Relent Tablet','Relent-OD Capsule SR',
// 'Resof 400 mg Tablet','Reswas LS Syrup','Reswas Syrup',
// 'Retoz 120 Tablet','Retoz 60 Tablet','Retoz 90 Tablet',
// 'Retoz-MR 4 Tablet','Retoz-MR 8 Tablet','REVILUS SHAMPOO',
// 'Revilus Soflets','REVILUS SOFTLETS','Reviro 300 mg Tablet',
// 'Riax 2.5 mg Tablet','Riax 5 mg Tablet','Riax-M XR 5mg/1000mg Tablet',
// 'Riax-M XR 5mg/500mg Tablet','Riflux Forte Syrup','Riflux Forte Tablet',
// 'Riflux Liquid','Riflux Tablet','Rozat 10 Tablet',
// 'Rozat 20 Tablet','Rozat 40 Tablet','Rozat 5 Tablet',
// 'Rozat-CV 10mg/75mg Tablet','Rozat-F 5 Tablet','Rozat-F Tablet',
// 'Rupanex M Tablet','Rupanex Tablet','S-Mucolite Syrup',
// 'Salicylix SF 12% Cream','Salicylix SF 6% Ointment','SEMI RECLIMET TABLET',
// 'Senquel-AD Mouth Wash','Senquel-AD Mouth Wash','Senquel-AD Mouth Wash',
// 'Senquel-f Toothpaste','Shadowz Silk Sunscreen Lotion','Shadowz Spf 30 Lotion',
// 'Shadowz Spf 50 Lotion','SIBOFIX 200 MG TABLET','SIBOFIX 400 MG TABLET',
// 'SIBOFIX 550 TABLET','SILDOO-4 CAP','SILDOO-8 CAP*',
// 'SOMAZINA 500MG TAB *','SOMAZINA P 800/ 500 TAB (','SOMAZINA PLUS',
// 'SPARACID DS 100ML LIQUID','SPERCUS TABLET','Stamace Capsule',
// 'Stamlo 10 Tablet','Stamlo 2.5 Tablet','Stamlo 5 Tablet',
// 'Stamlo Beta M Tablet','Stamlo Beta Tablet','Stamlo D Tablet',
// 'Stamlo-T 80 Tablet','Stamlo-T Tablet','STOLIN GUM PAINT',
// 'STOLIN PASTE','Stolin-R Paste','Stolin-R Paste',
// 'Supamove Gel','SUPAMOVE-4 CAP','SUPAMOVE-8 CAP',
// 'SYLKAM 0.5MG TABLET','TABI TABLET','TABI TABLET',
// 'TAZZLE 10MG TABLET','TAZZLE 10MG FM SACHET','Tazzle 20 Tablet',
// 'TAZZLE 5FM SACHET (','TAZZLE 5MG TABLET','Telsartan 20 Tablet',
// 'Telsartan 20 Tablet','Telsartan 40 Tablet','Telsartan 40mg Tablet',
// 'Telsartan 40mg Tablet','Telsartan 80 Tablet','Telsartan 80 Tablet',
// 'Telsartan Activ 80 Tablet','Telsartan H 40mg Tablet','TELSARTAN R 2.5MG TABLET',
// 'TELSARTAN R 5MG TABLET','Telsartan Trio Tablet','Telsartan-AM 80 Tablet',
// 'Telsartan-AM Tablet','Telsartan-CT 40 Tablet','Telsartan-CT 80 Tablet',
// 'Telsartan-H 80 Tablet','Ticaflo 90Mg Tablet','Torq SR 2 Tablet',
// 'Torq SR 4 Tablet','Triozac Plus Capsule','TRISERTAIN-20 TABLET',
// 'TRISERTAIN-40 TABLET','UBIL TABLET','ULTRAVEX CREAM 30 GM',
// 'ULTRAVEX CREAM 15GM','ULTRAVEX S3 15GM','ULTRAVEX S6 15 GM',
// 'Vantej Toothpaste','Vantej Toothpaste','VEGAZ OD',
// 'Velocit Pregnancy Test Kit','Venusia Bathing Bar','Venusia Cleanser',
// 'Venusia Cream','VENUSIA MAX CREAM','VENUSIA MAX LOTION',
// 'Venusia Moisturising Lotion','VENUSIA SOFT LOTION','VIBOLIV TABLET',
// 'VOZET 10mg Tablet','Vozet Tablet','Vozuca 0.2 Tablet',
// 'Vozuca 0.3 Tablet','Vozuca 0.3mg Tablet','Vozuca Activ 0.2 Tablet',
// 'Vozuca Activ 0.3 Tablet','Vozuca M 0.2mg Tablet','Vozuca-M 0.3 Activ Tablet SR',
// 'Vozuca-M 0.3 Tablet SR','Vozuca-M Activ Tablet SR','Vozuca-M Activ Tablet SR',
// 'Vozuca-M Tablet SR','Xyzal 10 mg Tablet','Xyzal 5 mg Tablet',
// 'Xyzal M Kid(DT) Tablet','Xyzal M Tablet','Xyzal Syrup',
// 'Zextra 600mg Tablet','Zyrcof Syrup','Zyrcold DC Syrup',
// 'ZyrCold Syrup','ZyrCold Tablet','Zyrtec 10mg Tablet',
// 'Zyrtec Drops','Zyrtec Syrup',
// 'MONOCEF-1GM INJ','METRONIDAZOLE 100ML (NIR LIFE)','NEOPRATE INJ',
// 'STROCIT-2ML INJ','MEAXON PULS INJ','FUPAN 40MG INJ',
// 'M V I INJ','EMESET- 2ML INJ','E T TUBE',
// 'VENTILATOR TUBE (PHILIPS)','FILTER+HME(LOCK PORT)','NEULISATION MOUTH PIECE KIT',
// 'I V CANNULA 18','I V DRESSING','BRIMACORT 100MG INJ',
// 'ARTACIL 25MG INJ','NORMAL SALINE 500ML (OTSUKA)','NORMAL SALINE 100ML (OTSUKA)',
// 'UNDERPAD','DIAPER ADULT LARGE','10ML SYRINGE',
// '5ML SYRINGE','2ML SYRINGE','LATEX GLOVES',
// 'VENFLOW -20G','I V SET','RINGER LACTATE 500ML (OTSUKA)',
// '1ML SYRINGE','MONOCEF-CV 200MG TAB','DOLO 650MG',
// 'OTINEURON INJ','FACE MASK','FLOHEP 40 MG INJ',
// 'NOOTROPIL-60ML INJ','COGNIZA-INJ','RENERVE PLUS INJ',
// 'PROFUSE 100ML INJ','OPTINEURON INJ','COTTON ROLL SMALL',
// 'AVIL-2ML INJ','PANAZ 40MG TAB','SUPACEF-750MG INJ',
// 'MIKACIN 500MG INJ','DICLOFENAC INJ','BED BATH WIPES',
// 'DULCOFLEX TAB','VALPARIN CHAONO 200ML','DTTOR',
// 'CHYMORAL FORTE TAB','SHELCAL-500 TAB','SHELCAL-CT TAB',
// 'ACNE-AID BAR','NEFROSAVE TAB','CETZINE TAB',
// 'ZOMELIS MET 50/500MG TAB','BLIMISAVE M1 TAB','AB PHYLLINE CAP',
// 'CYCLOPAM SUSP','DOXT CAP','GARAPIN NT 100MG T',
// 'HIFENAC MR TAB','THIWES INJ','RELINERVE TAB',
// 'MONOCEF 1GM INJ','MEROMAC 1GM INJ','MEROMAC 0.5GM INJ',
// 'HOPERAB DSR CAP','ROSUVAS 10MG TAB','ROSUVAS 20MG TAB',
// 'ROSUVAS 40MG TAB','MET XL-12.5MG TAB','NEPRO HP VANILA 40',
// 'OROFER FCM 500MG I','FCNZ-IV 100ML','CIPREMI INJ-100MG[REMDESIVIR]',
// 'BANDAGE','SYNTOCINON INJ',
// 'BETADINE SOL 100ML','PRAPOFOL INJ','FORTWIN INJ',
// 'STERILLIUM INJ','ENEMA 100ML','TRANSPORE 1"',
// 'KLIK CAMP','SURGICARE GLOVE 6 1/2','OLIVE OIL',
// 'VITAMIN K INJ','TELMA 40MG TAB','CLOPITAB 75MG TAB',
// 'RYLES TUBE','E T TUBE NO 7','LABIL  40 MG /2ML',
// 'BANDAGE 6','GUEDAL AIRWAYS NO.2 (GREEN)','DNS 500ML  (NIRLIFE)',
// 'LORAZEPAM INJ','RANTAC 2ML INJ','DICLOFENAC INJ',
// 'DNS 500ML  PLASTIC (NIRMA)','DEXTROSE 5% 500ML CLARIS','OXYTOCIN INJ',
// 'METHERGIN INJ','MISOPROST 200 MCG TAB','GAUZE',
// 'LASIX 2-ML INK','NICARDIA RETARD 10MG TAB','SOLU-MEDROL 500 MG  INJ',
// 'ACIVIR -400MG DT TAB','METROGYL -400 MG TAB','METROGYL -GEL',
// 'NORAD 2ML INJ','TRECTADOL INJ','3 WAY CONNECTOR 10CM',
// 'DALACIN C 600MG INJ','MEROMAC 500 MG INJ','ULTRASET TAB',
// 'URSOCOL 300MG TAB','POTASSIUM CHLORIDE INJ','MAGNESIUM SULPHATE INJ',
// 'NEOVAC  INJ','PYROLATE - 1ML INJ','NITROPLUS 5ML INJ',
// 'FOLEY CATHETER NO=14','UROMETER','SODIUM BICARBONATE INJ',
// 'OXYZEN MASK ADULT','50ML SYRINGE','PMOLINE',
// 'CEFTUM 500MG TAB','PROTERA 40MG TAB','BEPLEX FORTE TAB',
// 'PHENERGAN INJ','METRONIDAZOLE 100ML (OTSUKA)','VACCU SUSK SUSTION',
// 'TEGADERM HP','ATROPINE SULPHATE 1ML INJ','ADRENALIN INJ',
// 'MEZOLAM 10ML INJ','MONTEPURE L TAB','BUDECORT -0.5MG RESPULES',
// 'LNZ 600MG TAB','ZENTEL 400 MG TAB','CLARIMIN 500 MG TAB',
// 'MEROTROL 1GM','SPINAL NEEDLE 18G BD','LOX -2 % 30ML INJ',
// 'UDILIV-300MG TAB','HEPTRAL 400MG TAB','NEBULISATION MOUTH PIECE KIT',
// 'BANDAGE 4','PIODINE SCRUB','HYPERTONIC SALINE',
// 'ECOSPRIN AV-75 MG TAB','FLAVEDON MR TAB','NASAL CANNULA (ADULT)',
// 'KUFRIL SYP','SIGNOFLAM TAB','DUOLIN RESPULES',
// 'NIKORAN -48 MG INJ','TRAMAZAC INJ','DETTOL',
// 'DOXCEF  200 MG TAB','VOVERAN 50GE MG TAB','C VIT TAB'
//
// ]
$(this).autocomplete({
  source:abc
},
{
autofocus:true,
minLength:2,
});
});



//Fills HSN, print_name,tax_percent, item_code, Mfd_by,BatchNo, sch

function UserAction() {
  // alert('hi from User Action');
  var x= document.getElementById("id_item_name").value;
  // alert(x);
  var xhttp = new XMLHttpRequest();

  xhttp.onreadystatechange = function() {
       if (this.readyState == 4 && this.status == 200) {
           // alert(this.responseText);
           // document.getElementById("xxx").innerHTML = xhttp.responseText;

          json_data=JSON.parse(this.responseText);

          for ( k in json_data){
            // alert(k);

          document.getElementById("id_item_code").value=json_data[k].item_code;
          document.getElementById("id_HSN_code").value=json_data[k].HSN_code;
          document.getElementById("id_print_name").value=json_data[k].print_name;
          document.getElementById("id_Mfd_by").value=json_data[k].Mfd_by;
          document.getElementById("id_MRP").value=json_data[k].MRP;
          document.getElementById("id_BatchNo").value=json_data[k].BatchNo;
          document.getElementById("id_tax_percent").value=json_data[k].tax_percent;
          document.getElementById("id_sch").value=json_data[k].sch;
            // alert(json_data[k].print_name);

          }

       }
  };
  s="http://127.0.0.1:8000/im_entry/";
  s1=s+x+'/';
  // alert(s1);
  xhttp.open("GET",s1, true);
  xhttp.setRequestHeader("Content-type", "application/json");

  xhttp.send();
  // alert(xhttp.response.meta.statusCode);
  // alert(xhttp.responseText);
  // document.getElementById("xxx").innerHTML = xhttp.responseText.json();
}


</script>



{%endblock%}
