<!DOCTYPE html>
{%extends 'testapp/ahome.html' %}
{%load static%}

{%block grand_child_block%}


<div class="class1"; align="center">


<h2>{{title}}</h2>
<form  method="post">
  {%if form%}
  <table >
    <tr>
      {%for field in form%}
      <td>{{ field.label }} &nbsp;&nbsp;</td>
       <td>{{ field }}</td>
      {%if forloop.counter|divisibleby:"4" %}
          <tr>
      {%endif%}
      {%endfor%}
    </tr>


  {%endif%}
</table>
  <br>
  {%csrf_token%}
  <input type="submit" button class="btn  btn-success" value= {{title}}>
</form>

</div>

{%endblock%}
