<!DOCTYPE html>
{%extends 'testapp/ahome.html' %}
{%load static%}

{%block grand_child_block%}
<link rel="stylesheet" href="{%static "css/home_item.css"%}">
<div class="div2"; align="center">
  {%if pe%}
  <h3>Purchase Entry Details</h3>
  <table border="2">
    <thead>
      <th>companyname</th>
      <th>invoice_no </th>
      <th>invoice_amount</th>
      <th>tax_amount</th>
      <th>grand_total</th>
      <th>adjustment</th>
      <th>status</th>
    </thead>

    <tr>
      <td>{{pe.supplier_ref1.companyname}}</td>
      <td>{{pe.invoice_no}}</td>
      <td>{{pe.invoice_amount}}</td>
      <td>{{pe.tax_amount}}</td>
      <td>{{pe.grand_total}}</td>
      <td>{{pe.adjustment}}</td>
      {%if pe.status == 'APPROVED' %}
      <td style="color:blue;text-align:center;font-size:160%;">{{pe.status}}</td>
      {%else%}
      <td >{{pe.status}}</td>
      {%endif%}
    </tr>
  </table>
  <br><br>
  {%endif%}
  {%if areports %}
<h3>Item Entries Details</h3>
  <table border="2">
    <thead>
      <th>item_code</th>
      <th>item_name</th>
      <th>print_name</th>
      <th>companyname</th>
      <th>MRP</th>
      <th>purchase_rate</th>
      <th>Exp_date</th>
      <th>Qty_in</th>
      <th>amount</th>
      <th>tax_per</th>
      <th>tax_amount</th>
      <th>invoice_no</th>
      <th>Qty_in</th>
      <th>Qty_available</th>
      <th>status</th>
      {%if pe.status != 'APPROVED'%}
      <th>Action</th>
      <th>Action</th>
      {%endif%}
    </thead>
    {%for areport in areports%}
    <tr>
      <td>{{areport.item_code}}</td>
      <td>{{areport.item_name}}</td>
      <td>{{areport.print_name}}</td>
      <td>{{areport.companyname}}</td>
      <td>{{areport.MRP}}</td>
      <td>{{areport.purchase_rate}}</td>
      <td>{{areport.Exp_date}}</td>
      <td>{{areport.Qty_in}}</td>
      <td>{{areport.amount}}</td>
      <td>{{areport.tax_percent}}</td>
      <td>{{areport.tax_amount}}</td>
      <td>{{areport.purchase_ref.invoice_no}}</td>
      <td>{{areport.Qty_in}}</td>
      <td>{{areport.Qty_available}}</td>
      <td>{{areport.status}}</td>
      {%if areport.status != 'APPROVED'%}
      <td><a href="/del_ie1/{{areport.id}}" class="btn btn-primary "> delete</a></td>
      <td><a href="/upd_ie1/{{areport.id}}" class="btn btn-secondary "> update</a></td>
      <td><a href="/clone_ie/{{areport.id}}" class="btn btn-success"> clone</a></td>
      {%endif%}
    </tr>
    {%endfor%}
  </table>
  {%else%}
  <h1>No report records</h1>
  {%endif%}
   <br><br>
  <table border="2">
    <thead>
      <th>No of items</th>
      <th>Quantity in </th>
      <th>Total sum</th>
      <th>Total tax</th>
      <th>Grand total</th>
    </thead>

    <tr>
      <td>{{ie_count}}</td>
      <td>{{ie_qtysum}}</td>
      <td>{{ie_sum}}</td>
      <td>{{ie_taxsum}}</td>
      <td>{{ie_grandtotal}}</td>
    </tr>
  </table> <br>
  <p>difference between  PE grand_total and IE grand_total= &#8377;{{diff_grandtot}}</p>
  {%if pe.status != 'APPROVED' %}
  <td><a href="/pe_approval/{{pe.invoice_no}}/{{ie_grand_tot}}" class="btn btn-primary "> Approve?</a></td>
  <td><a href="/addItem1/{{pe.invoice_no}}" class="btn btn-success "> AddItem</a></td>
  <td><a href="/upd_pe/{{pe.invoice_no}}" class="btn btn-success "> AddjPE</a></td>

  {%endif%}
</div>




{%endblock%}
