<!DOCTYPE html>
{%extends 'testapp/ahome.html' %}
{%load static%}

{%block grand_child_block%}
<link rel="stylesheet" href="{%static "css/home_item.css"%}">


<div class="div2"; align="center">


  {%if areports %}
  <h3>{{title}}  </h3>
   <h5>{{range}}</h5>
  <table border="2">
    <thead>
      <th>item_code</th>
      <th>item_name</th>

      <th>companyname</th>
      <th>MRP</th>
      <th>pur_rate</th>
      <th>pur_cost_per_unit</th>
      <th>Exp_date</th>
      <th>Qty_in</th>
      <th>Qty_avail</th>
      <th>amount</th>
      <th>tax_amount</th>
      <th>invoice_no</th>
      <th>status</th>
      <!-- <th>Action</th> -->
      <th>Action</th>
      <th>Action</th>

    </thead>
    {%for areport in areports%}
    {%if 'H' in areport.sch%}
    <tr style="background-color:#FF0000">
    {%else%}
    <tr>
    {%endif%}
      <td>{{areport.item_code}}</td>
      <td>{{areport.item_name}}</td>
      <!-- <td>{{areport.print_name}}</td> -->
      <td>{{areport.companyname}}</td>
      <td>{{areport.MRP}}</td>
      <td>{{areport.purchase_rate}}</td>
      <td>{{areport.purchase_cost_per_unit}}</td>
      <td>{{areport.Exp_date|date:"M-y"}}</td>
      <td>{{areport.Qty_in}}</td>
      <td>{{areport.Qty_available}}</td>
      <td>{{areport.amount}}</td>
      <td>{{areport.tax_amount}}</td>
      <td>{{areport.purchase_ref.invoice_no}}</td>
      <td>{{areport.status}}</td>
      <!-- <td> <a class="btn btn-success" href="/addtoPE/{{areport.id}}" role="button">Add to PE</a></td> -->
      {%if areport.status != 'APPROVED' %}
      <td><a href="/del_ie/{{areport.id}}" class="btn btn-primary "> delete</a></td>
      <td><a href="/upd_ie/{{areport.id}}" class="btn btn-secondary "> update</a></td>
      {%else%}
      <td></td>
      <td></td>
      {%endif%}
      <!-- <td><a href="/clone_ie/{{areport.id}}" class="btn btn-success"> clone</a></td> -->
    </tr>
    {%endfor%}
  </table>
  {%else%}
  <h1>No report records</h1>
  {%endif%}

</div>




{%endblock%}
