<!DOCTYPE html>
{%extends 'testapp/ahome.html' %}
{%load static%}

{%block grand_child_block%}



<div class="div2"; align="center">

  {{title}}
  {% if purchase_entry_list%}
  <table border="2">
    <thead>
      <th>purchase_type</th>
      <th>supplier_ref1</th>
      <th>invoice_no</th>
      <th>invoice_amount</th>
      <th>tax_amount</th>
      <th>grand_total</th>
      <th>purchase_date</th>
      <th>status</th>
      <th>Action</th>
      <th>Action</th>
      <th>Action</th>
      <!-- <th>Action</th> -->

    </thead>
    {%for pe in purchase_entry_list%}
    <tr>
      <td>{{pe.purchase_type}}</td>
      <td>{{pe.supplier_ref1.companyname}}</td>
      <td>{{pe.invoice_no}}</td>
      <td>{{pe.invoice_amount}}</td>
      <td>{{pe.tax_amount}}</td>
      <td>{{pe.grand_total}}</td>
      <td>{{pe.purchase_date}}</td>
      <td>{{pe.status}}</td>
      {%if pe.status != 'APPROVED'%}
      <td><a href="/del_pe/{{pe.invoice_no}}" class="btn btn-primary "> delete</a></td>
      <td><a href="/upd_pe/{{pe.invoice_no}}" class="btn btn-secondary "> update</a></td>
      {%else%}
      <td></td>
      <td></td>
      {%endif%}
      <td> <a class="btn btn-success" href="/addtoBill/{{pe.invoice_no}}" role="button">Add to Bill</a></td>
      <!-- <td> <a class="btn btn-success " href="/generate_bill/{{pe.invoice_no}}" role="button">generatepBill</a></td> -->
    </tr>


    {%endfor%}
  </table> <br><br>
  {%else%}
   <h1>No Purchases info</h1>
  {%endif%}

</div>




{%endblock%}
