<!DOCTYPE html>
{%include 'testapp/base.html' %}
{%load static%}



{%block child_block%}
<link rel="stylesheet" href="{%static "css/home_c.css"%}">
<link rel="stylesheet" href="{%static "css/shome.css"%}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script type="text/javascript">

function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}

function myFunction() {
  var x = document.getElementById("mySidebar");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>


<div id="mySidebar" class="sidenav">
<div class="" align="right"><button class="btn  btn-sm" onclick="myFunction()">&#9776;Sidebar</button></div>
<a href="/addCus"><img src="https://icons.iconarchive.com/icons/icons-land/vista-people/48/Office-Customer-Male-Light-icon.png"> Add Cus</a>
<a href="/addSE"><img src="https://icons.iconarchive.com/icons/blackvariant/shadow135-system/48/Notes-icon.png"> add SE</a>
<a href="/se_list"><img src="https://icons.iconarchive.com/icons/designcontest/ecommerce-business/48/invoice-icon.png"> list Sell Entry</a>
<!-- <a href="/q_item1"><img src="https://icons.iconarchive.com/icons/graphicloads/medical-health/48/medicine-cart-icon.png" > shopping cart</a> -->
<!-- <a href="/list_IM"><img src="https://icons.iconarchive.com/icons/graphicloads/medical-health/48/medicine-bowl-icon.png" >Item Master List</a> -->
<a href="/addRSE"><img src="https://icons.iconarchive.com/icons/kyo-tux/soft/48/Back-icon.png"> Return</a>
<a href="/rse_list"><img src="https://icons.iconarchive.com/icons/designcontest/ecommerce-business/48/invoice-icon.png"> list return SE</a>
<a href="/dash_board"><img src="https://icons.iconarchive.com/icons/osullivanluke/orb-os-x/48/Dashboard-icon.png"> DashBoard</a>
<a class="dropdown-item" href="/exp_balance_sheet_report"><img src="https://icons.iconarchive.com/icons/iconleak/or/48/justice-balance-icon.png">daily balance report </a>
<!-- <a class="dropdown-item" href="/expiry_report/6"><img src="https://icons.iconarchive.com/icons/graphicloads/flat-finance/48/flow-market-icon.png">Expiry report1 </a> -->


</div>



<div class="row" ; align="center">
  <div class="col-md-6" ></div>
  <div class="col-md-1" ><button class="btn  btn-sm" onclick="myFunction()">&#9776;Sidebar</button></div>
  <div class="col-md-2">{{sname}}</div>
  <div class="col-md-1">{{role}}</div>
  <div class="col-md-1">{{phone}}</div>
  <div class="col-md-1" ></div>
</div>

<!-- <div id="main"  align="center">
  <button class="btn btn-success btn-sm" onclick="myFunction()">&#9776; sidebar</button>

</div> -->

<!-- <div class="container" align="center">



</div> -->



{%endblock%}

{%block grand_child_block%}
{{alert_resp}}


{%endblock%}
